.product {
    padding: 30px 0px;

    &__title {
        text-align: center;
        padding: 10px 0px;
    }

    &__cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 10px;
    }

    &__card {
        width: 100%;

        &__img {
            width: 100%;

            img {
                width: 100%;
                max-height: 300px;
                object-fit: cover;
            }
        }

        &__info {
            padding: 10px;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    }
}

@media (min-width:500px) {
    .product__card {
        width: 48%;
    }
}

@media (min-width:1024px) {
    .product__card {
        width: 32%;
    }
}

@media (min-width:1500) {
    .product__card {
        &__cards {
            justify-content: start;
        }

        &__card {
            width: 24%;
        }
    }
}